{% extends "user/dashboard.html" %}

{% block dashboard_activity_stream_context %}
{% endblock %}

{% block primary_content_inner %}
  <h2><i class="fa fa-plus"></i>{{ _('Requests for new Data Containers') }}</h2>
  <hr>
  {% if new_container_requests.containers %}
    <ul class="dataset-list unstyled pending-requests-list">
      {% for container in new_container_requests.containers %}
        <li class="dataset-item">
          <div class="dataset-content">
            <h3>
              {% if container.users and container.users[0] %}
                {{ h.link_to(container.users[0].fullname or container.users[0].name, h.url_for('user.read', id=container.users[0].id, qualified=True)) }}
                requested new container
              {% endif %}
              <a href="/data-container/{{ container.name }}" title="Requested data container">{{ container.display_name }}</a>
              {% if container.groups %}
                under
                <a href="/data-container/{{ container.groups[0].name }}" title="Parent data container">{{ container.groups[0].name|capitalize }}</a>
              {% endif %}
              {% if container.users and container.users[0] %}
                {% set creator = container.users[0] %}
                <small>
                  ({{ h.render_datetime(container.created, '%Y-%m-%d') }})
                </small>
              {% endif %}
            </h3>
            {% if container.notes %}
              <p>{{ container.notes|urlize }}</p>
            {% else %}
              <p class="empty">{{ _("This data container has no description") }}</p>
            {% endif %}
          </div>
          <p>
            <a href="/data-container/{{ container.id }}/approve" class="btn btn-primary">
              {% trans %}Approve{% endtrans %}
            </a>
            <a href="/data-container/{{ container.id }}/reject" class="btn btn-danger">
              {% trans %}Reject{% endtrans %}
            </a>
          </p>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p class="empty">
      No outstanding requests
    </p>
  {% endif %}

  <h2><i class="fa fa-key"></i>Requests for Access to Data Containers</h2>
  <hr>
  {% if container_access_requests %}
    {% snippet
      'user/snippets/access_request_list.html',
      requests=container_access_requests,
      table_type='Container'
    %}
  {% else %}
    <p class="empty">
      No outstanding requests
    </p>
  {% endif %}

  <h2><i class="fa fa-key"></i>Requests for Access to Datasets</h2>
  <hr>
  {% if dataset_access_requests %}
    {% snippet
      'user/snippets/access_request_list.html',
      requests=dataset_access_requests,
      table_type='Dataset'
    %}
  {% else %}
    <p class="empty">
      No outstanding requests
    </p>
  {% endif %}

  <h2><i class="fa fa-user"></i>Requests for new User Accounts</h2>
  <hr>
  {% if user_account_requests %}
    {% snippet
      'user/snippets/access_request_list.html',
      requests=user_account_requests,
      table_type='User'
    %}
  {% else %}
    <p class="empty">
      No outstanding requests
    </p>
  {% endif %}

{% endblock %}

{% block footer %}
  {{ super() }}
  {% snippet 'user/snippets/access_request_modals.html', requests=container_access_requests %}
  {% snippet 'user/snippets/access_request_modals.html', requests=dataset_access_requests %}
  {% snippet 'user/snippets/access_request_modals.html', requests=user_account_requests %}
{% endblock %}
