{% import "macros/form.html" as form %}

<form id="user-register-form" action="" method="post">
  {{ form.errors(error_summary) }}
  {{ form.input("name", id="field-username", label=_("Username"), placeholder=_("username"), value=data.name, error=errors.name, classes=["control-medium"], is_required=True) }}
  {{ form.input("fullname", id="field-fullname", label=_("Full Name"), placeholder=_("Joe Bloggs"), value=data.fullname, error=errors.fullname, classes=["control-medium"]) }}
  {{ form.input("email", id="field-email", label=_("Email"), type="email", placeholder=_("joe@example.com"), value=data.email, error=errors.email, classes=["control-medium"], is_required=True) }}
  {{ form.input("password1", id="field-password", label=_("Password"), type="password", placeholder="••••••••", value=data.password1, error=errors.password1, classes=["control-medium"], is_required=True) }}
  {{ form.input("password2", id="field-confirm-password", label=_("Confirm"), type="password", placeholder="••••••••", value=data.password2, error=errors.password1, classes=["control-medium"], is_required=True) }}
  {{ form.input(
      "focal_point",
      id="field-focal-point",
      label=_("Please provide a focal point (the name of the team or individual inside UNHCR who you are working with on your project or partnership)."),
      placeholder="",
      value=data.focal_point,
      classes=["control-medium"],
      error=errors.focal_point,
      is_required=True
  ) }}
  {{ form.textarea(
      "message",
      id="field-message",
      label=_("Please describe the dataset(s) you would like to submit to UNHCR's data library by entering the project title, project year, the name of the country/region/location(s) where the data was collected, the Project Partnership Agreement number (if available)."),
      placeholder="",
      value=data.message,
      classes=["control-medium"],
      error=errors.message,
      is_required=True
  ) }}

  {{ form.select(
    "container",
    id="field-container",
    label=_("Please select the region where the data was collected."),
    options=containers,
    error=errors.container,
    selected=data.container,
    is_required=True,
  ) }}

  {% if g.recaptcha_publickey %}
    {% snippet "user/snippets/recaptcha.html", public_key=g.recaptcha_publickey %}
  {% endif %}

  {{ form.required_message() }}

  <div class="form-actions">
    {% block form_actions %}
    <button class="btn btn-primary" type="submit" name="save">{{ _("Request Account") }}</button>
    {% endblock %}
  </div>
</form>
