{% ckan_extends %}

{% block user_info %}
<div class="info">
  <dl>
    {% if user.name.startswith('http://') or user.name.startswith('https://') %}
      <dt>{{ _('Open ID') }}</dt>
      <dd>{{ user.name|urlize(25) }}{# Be great if this just showed the domain #}</dd>
    {% else %}
      <dt>{{ _('Username') }}</dt>
      <dd>{{ user.name }}</dd>
    {% endif %}
  </dl>
  {% if is_myself %}
    <dl>
      <dt>
        {{ _('Email') }}
        <span class="label label-default" title="{{ _('This means only you can see this') }}">
          {{ _('Private') }}
        </span>
      </dt>
      <dd>{{ user.email }}</dd>
    </dl>
  {% endif %}
  <dl>
    <dt>{{ _('Member Since') }}</dt>
    <dd>{{ h.render_datetime(user.created) }}</dd>
  </dl>
  <dl>
    <dt>{{ _('Organisation') }}</dt>
    <dd>
      {% if user.external %}
        <span class="label label-warning">Partner</span>
      {% else %}
        UNHCR
      {% endif %}</dd>
  </dl>
  <dl>
    <dt>{{ _('State') }}</dt>
    <dd>
      {% if user.state != 'active' %}
        <span class="label label-warning">{{ user.state.capitalize() }}</span>
      {% else %}
        {{ user.state.capitalize() }}
      {% endif %}
    </dd>
  </dl>
  {% if user.external %}
  <dl>
    <dt>{{ _('Focal Point') }}</dt>
    <dd>
      {% if user.focal_point %}
        {{ user.focal_point }}
      {% else %}
        Unknown
      {% endif %}
    </dd>
  </dl>
  {% endif %}
  {% if is_myself %}
    <dl>
      <dt class="key">
        {{ _('API Key') }}
        <span class="label label-default" title="{{ _('This means only you can see this') }}">
          {{ _('Private') }}
        </span>
      </dt>
      <dd class="value"><code>{{ user.apikey }}</code></dd>
    </dl>
  {% endif %}
</div>
{% endblock %}
