{% extends "emails/base.html" %}
{% import 'macros/email.html' as email with context %}

{% block email_body %}

  {% call email.paragraph() %}
    Dear <b>{{ recipient.fullname or recipient.name }}</b>,
  {% endcall %}

  {% call email.paragraph() %}
    {% if object_type == 'user' %}External user{% else %}User{% endif %}
    {{ h.link_to(requesting_user.fullname or requesting_user.name, h.url_for('user.read', id=requesting_user.id, qualified=True)) }}

    {% if object_type == 'dataset' %}
      has requested access to download
      {{ h.link_to(object.title or object.name, h.url_for('dataset_read', id=object.name, qualified=True)) }}.
    {% elif object_type == 'container' %}
      has requested access to
      {{ h.link_to(object.display_name, h.url_for('data-container_read', id=object.name, qualified=True)) }}.
    {% elif object_type == 'user' %}
      has requested access to deposit datasets.
    {% else %}
      has requested access to <strong>{{ object.name }}</strong>
    {% endif %}

  {% endcall %}

  {% call email.paragraph() %}
    {{ requesting_user.fullname or requesting_user.name }} supplied the following message:
  {% endcall %}

  {% call email.paragraph() %}
    {{ h.nl_to_br(message) }}
  {% endcall %}

  {% call email.paragraph() %}
    To approve or reject the request, visit the following page (logged in with your administrator account):
  {% endcall %}

  {% call email.action(dashboard_url) %}
    Dashboard
  {% endcall %}

{% endblock %}
