{% ckan_extends %}

{% block package_description %}

  {% if pkg.type == 'deposited-dataset' %}
    <div class="review alert alert-info" role="alert">

      {# Not active #}
      {% if not curation['active']  %}

        <p>{% trans %}This dataset is not deposited yet. To deposit it finish editing the metadata and add some resources to it.{% endtrans %}</p>

      {# Draft #}
      {% elif curation['state'] == 'draft' %}

        {% if curation['role'] == 'depositor' %}
            <a style="float: right" href="#curation-submit" role="button" class="btn btn-warning" data-toggle="modal" title="{{ link_help }}" data-target="#curation-submit">
              Submit Dataset
            </a>

          <p>{% trans %}This deposited dataset is in <strong>draft</strong> state. You can make further edits if necessary.{% endtrans %}</p>
          <p>{% trans %}Once all edits are made submit the dataset for review by the curation team.{% endtrans %}</p>
        {% else %}
        <p>{% trans %}This deposited dataset is in <strong>draft</strong> state. The Depositor can still make further edits if necessary.{% endtrans %}</p>
        {% endif %}

      {# Submitted #}
      {% elif curation['state'] == 'submitted' %}

        {% if curation['role'] == 'depositor' %}
        <p>{% trans %}This deposited dataset has been <strong>submitted</strong> to the curation team. The curation team will review it and improve the metadata if necessary.{% endtrans %}</p>
        <p>{% trans %}<strong>Note:</strong> You can't edit the dataset at this point.{% endtrans %}</p>
        {% else %}
        <p>{% trans %}This deposited dataset has been <strong>submitted</strong> to the curation team.{% endtrans %}</p>
        {% endif %}
        {% set curator = curation.contacts.curator %}
        {% if curator %}
          {% if curator.name == c.user %}
            <p>You have been assigned as Curator of this dataset.</p>
          {% else %}
            <p>
              {{ h.link_to(curator.display_name, h.url_for('user.read', id=curator.name)) }}
              <a href="mailto:{{ curator.email }}">(email)</a>
              has been assigned as Curator of this dataset.
            </p>
          {% endif %}
        {% else %}
          <p>{% trans %}A Curator for this dataset has not yet been assigned.{% endtrans %}</p>
        {% endif %}

      {# Review #}
      {% elif curation['state'] == 'review' %}

        {% if curation['role'] == 'depositor' %}
            <p>{% trans %}The curation team has asked for your <strong>final review</strong> on this deposited dataset.{% endtrans %}</p>
            <p>{% trans %}Use the buttons on the left to approve the datasets (and automatically publish it in RIDL) or to request additional changes.{% endtrans %}</p>
          {% else %}
            <p>{% trans %}This deposited dataset is awaiting a <strong>final review</strong> by the Depositor before publication.{% endtrans %}</p>
          {% endif %}

      {% endif %}
      {% set depositor = curation.contacts.depositor %}
      {% if depositor.external and curation.role != 'depositor' %}
        <p>
          This dataset was submitted by
          <strong>{{ h.link_to(depositor.display_name, h.url_for('user.read', id=depositor.name)) }}</strong>
          who is not a member of the UNHCR organization.
        </p>
      {% endif %}

    </div>
  {% endif %}

  {% if pkg.visibility == 'restricted' %}
    <span class="dataset-private label label-inverse pull-right">
      <i class="fa fa-lock"></i>
      {{ _('Private') }}
    </span>
  {% endif %}
  <h1>
    {% block page_heading %}
      {{ h.dataset_display_name(pkg) }}
      {% if pkg.state.startswith('draft') %}
        [{{ _('Draft') }}]
      {% endif %}
      {% if pkg.state == 'deleted' %}
        [{{ _('Deleted') }}]
      {% endif %}
    {% endblock %}
  </h1>
  {% block package_notes %}
    {% if pkg.notes %}
      <div class="notes embedded-content">
        {{ h.render_markdown(h.get_translated(pkg, 'notes')) }}
      </div>
    {% endif %}
  {% endblock %}

  {% if can_request_access %}
    {% snippet "snippets/request_access.html", pkg=pkg %}
  {% endif %}


  {# FIXME why is this here? seems wrong #}
  <span class="insert-comment-thread"></span>

{% endblock %}

{% block package_resources %}
  {% snippet "package/snippets/resources_list.html", pkg=pkg, type='data' %}
  {% snippet "package/snippets/resources_list.html", pkg=pkg, type='attachment' %}
{% endblock %}
