{% ckan_extends %}

{% set pkg = c.pkg_dict %}
{% set can_request_access = (
  pkg.resources|length > 0 and
  not h.can_download(pkg) and
  not h.get_existing_access_request(c.userobj.id, pkg.id, 'requested')
) %}

{% if pkg.type == 'deposited-dataset' %}
  {% set curation = h.get_deposited_dataset_user_curation_status(pkg, c.userobj.id) %}
{% endif %}

{% block content_primary_nav %}
  {% if pkg.type == 'deposited-dataset' %}
    {{ h.build_nav_icon('dataset_read', _('Dataset'), id=pkg.name) }}
    {% if h.check_access('package_activity_list', {'user': c.user, 'id': pkg.id}) %}
      {{ h.build_nav_icon('%s_internal_activity' % dataset_type, _('Internal Activity'), dataset_id=pkg.name, icon='gavel') }}
    {% endif %}
  {% else %}
    {{ h.build_nav_icon('dataset_read', _('Dataset'), id=pkg.name) }}
    {{ h.build_nav_icon('dataset_activity', _('Activity Stream'), id=pkg.name) }}
    {% if (
      h.check_access('package_update', {'user': c.user, 'id': pkg.id}) and
      h.check_access('package_activity_list', {'user': c.user, 'id': pkg.id})
    ) %}
      {{ h.build_nav_icon('%s_internal_activity' % dataset_type, _('Internal Activity'), dataset_id=pkg.name, icon='gavel') }}
    {% endif %}
  {% endif %}
{% endblock %}

{% block content_action %}
  {% if can_request_access %}
    <a
      href="#collaboration-dataset-request-access"
      role="button"
      class="btn"
      data-toggle="modal"
      title="Request access to {{ pkg.title }}"
      data-target="#collaboration-dataset-request-access"
    >
      <i class="fa fa-key"></i>Request Access
    </a>
  {% endif %}
  {% if h.organizations_available('create_dataset') %}
    {% link_for _('Copy'), named_route='unhcr_dataset.copy', dataset_id=pkg.id, class_='btn', icon='copy' %}
  {% endif %}
  {{ super() }}
{% endblock %}

{% block secondary %}
<aside class="secondary col-sm-3">
  {% block secondary_content %}
    {% if pkg.type == 'deposited-dataset' %}
      {% snippet "package/snippets/curation_sidebar.html", pkg=pkg, curation=curation %}
    {% else %}
      {{ super() }}
    {% endif %}
  {% endblock %}

  {% block user_guide %}
    {% snippet "snippets/user_guide.html", is_deposit=pkg.type == 'deposited-dataset' %}
  {% endblock %}
</aside>
{% endblock %}

{% block package_social %}
{% endblock %}

{% block footer %}
  {{ super() }}
  {% if can_request_access %}
    {% snippet "package/snippets/collaboration_modals.html", pkg=pkg %}
  {% endif %}
  {% if pkg.type == 'deposited-dataset' %}
    {% snippet "package/snippets/curation_modals.html", pkg=pkg, curation=curation %}
  {% endif %}
{% endblock %}
