{% ckan_extends %}

{% set pkg = c.pkg_dict or pkg_dict %}

{% if pkg.type == 'deposited-dataset' %}
  {% set curation = h.get_deposited_dataset_user_curation_status(pkg, c.userobj.id) %}
{% endif %}

{% block secondary_content %}
  {% if pkg.type == 'deposited-dataset' %}
    {% snippet "package/snippets/curation_sidebar.html", pkg=pkg, res=res, curation=curation, editing=True %}
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block footer %}
  {{ super() }}
  {% if pkg.type == 'deposited-dataset' %}
    {% snippet "package/snippets/curation_modals.html", pkg=pkg, curation=curation %}
  {% endif %}
{% endblock %}
