{% set truncate = truncate or 180 %}
{% set truncate_title = truncate_title or 80 %}
{% set title = package.title or package.name %}
{% set notes = h.markdown_extract(package.notes, extract_length=truncate) %}
{% set curation = h.get_deposited_dataset_user_curation_status(package, c.userobj.id) %}

{% block package_item %}
  <li class="{{ item_class or "dataset-item" }} dataset-item-curation dataset-item-curation-{{ 'valid' if not curation.error else 'invalid' }}">
    {% block content %}

      {# General #}
      <div class="dataset-content">
        {% block heading %}
          <h3 class="dataset-heading">
            <i class="fa fa-{{ 'times' if curation.error else 'check' }}"></i>
            {% block heading_private %}
              {% if package.private %}
                <span class="dataset-private label label-inverse">
                  <i class="fa fa-lock"></i>
                  {{ _('Private') }}
                </span>
              {% endif %}
            {% endblock %}
            {% block heading_title %}
              {{ h.link_to(h.truncate(title, truncate_title), h.url_for(controller='package', action='read', id=package.name)) }}
            {% endblock %}
            {% block heading_meta %}
              {% if package.get('state', '').startswith('draft') %}
                <span class="label label-info">{{ _('Draft') }}</span>
              {% elif package.get('state', '').startswith('deleted') %}
                <span class="label label-info">{{ _('Deleted') }}</span>
              {% endif %}
              {{ h.popular('recent views', package.tracking_summary.recent, min=10) if package.tracking_summary }}
            {% endblock %}
            {% if curation.error %}
              <small>&nbsp;({{ curation.error.error_summary|length }} validation errors)</small>
            {% endif %}
          </h3>
        {% endblock %}
        {% block banner %}
          {% if banner %}
            <span class="banner">{{ _('Popular') }}</span>
          {% endif %}
        {% endblock %}
        {% block notes %}
          {% if notes %}
            <div>{{ notes|urlize }}</div>
          {% else %}
            <p class="empty">{{ _("This dataset has no description") }}</p>
          {% endif %}
        {% endblock %}
      </div>

      {# Curation #}
      <div class="dataset-curation">
        <table>
          <tr>
            <td>
              <dl>
                <dt>State</dt>
                <dd>{{ curation.state }}</dd>
              </dl>
            </td>
            <td>
              {% set curator = curation.contacts.curator %}
                <dl>
                  <dt>Curator</dt>
                    {% if curator %}
                      <dd>
                        {{ h.link_to(curator.display_name, h.url_for('user.read', id=curator.name)) }}
                        <a class="email" href="mailto:{{ curator.email }}">(email)</a>
                      </dd>
                    {% else %}
                      <dd><i>Not yet assigned</i></dd>
                    {% endif %}
                </dl>
            </td>
            <td>
              {% set depositor = curation.contacts.depositor %}
              {% if depositor %}
                <dl>
                  <dt>Depositor</dt>
                  <dd>
                    {{ h.link_to(depositor.display_name, h.url_for('user.read', id=depositor.name)) }}
                    <a class="email" href="mailto:{{ depositor.email }}">(email)</a>
                    {% if depositor.external and curation.role != 'depositor' %}
                      <span
                        class="label label-warning"
                        title="This dataset was submitted by a user outside of UNHCR"
                      >
                        external
                      </span>
                    {% endif %}
                  </dd>
                </dl>
              {% endif %}
            </td>
          </tr>
        </table>
      </div>

    {% endblock %}
  </li>
{% endblock %}
