<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-book"></i>
    User Guide
  </h2>
  <nav>
    <div class="module-content">
      <ul class="list-unstyled nav nav-simple">
        <li class="nav-item">
          {% if is_deposit %}
            <a href="https://im.unhcr.org/ridl/RIDL_DD_userguide_v1.2.pdf" target="_blank">
              More guidance on using the data deposit</a>
          {% else %}
            <a href="https://im.unhcr.org/ridl/" target="_blank">
              More guidance on using RIDL</a>
          {% endif %}
        </li>
      </ul>
    </div>
  </nav>
</div>
