{# https://github.com/ckan/ckanext-scheming/blob/master/ckanext/scheming/templates/scheming/form_snippets/organization.html #}

{# This is specific to datasets' owner_org field and won't work #}
{# if used with other fields #}


{% macro organization_option_tag(organization, selected_org) %}
  {% block organization_option scoped %}
    <option value="{{ organization.id }}"{%
      if selected_org %} selected="selected"{% endif
      %}>{{ organization.display_name }}</option>
  {% endblock %}
{% endmacro %}

<div data-module="dataset-visibility">

  {% set deposit = h.get_data_deposit() %}

  {% set organizations_available=h.organizations_available('create_dataset') | rejectattr('id', 'equalto', deposit.id) %}
  {% set org_required=not h.check_config_permission('create_unowned_dataset') or h.scheming_field_required(field) %}

  {% if data.original_dataset or h.user_in_org_or_group(data.organization.id) %}
    {% snippet "scheming/form_snippets/_organization_select.html",
      field=field,
      data=data,
      errors=errors,
      organizations_available=organizations_available,
      org_required=org_required,
      organization_option_tag=organization_option_tag %}
  {% else %}
    <input
      id="field-organizations"
      name="owner_org"
      type="hidden"
      value="{{ data.organization.id }}"
    />
  {% endif %}

</div>
