{% extends "emails/curation_base.html" %}
{% import 'emails/macros/email.html' as email with context %}

{% block email_body %}

  {% call email.paragraph() %}
    Dear {{ recipient }},
  {% endcall %}

  {% call email.paragraph() %}
    This dataset has been approved:
  {% endcall %}

  {% call email.paragraph() %}
    &nbsp;&nbsp;&nbsp;&nbsp;{{ dataset.title }}
  {% endcall %}

  {% call email.paragraph() %}
    &nbsp;&nbsp;&nbsp;&nbsp;{{ dataset.notes }}
  {% endcall %}

  {% call email.action(dataset_url) %}
    View Dataset
  {% endcall %}

{% endblock %}
