{% extends "emails/curation/base.html" %}
{% import 'macros/email.html' as email with context %}

{% block email_body %}

  {% call email.paragraph() %}
    Dear <b>{{ recipient }}</b>,
  {% endcall %}

  {% call email.paragraph() %}
    You have deposited a new dataset
  {% endcall %}

  {% call email.paragraph() %}
    <b>{{ dataset.title }}</b>
  {% endcall %}

  {% call email.paragraph() %}
    <i>{{ dataset.notes }}</i>
  {% endcall %}

  {% call email.action(dataset_url) %}
    Manage Dataset
  {% endcall %}

{% endblock %}
