{% extends "emails/base.html" %}
{% import 'macros/email.html' as email with context %}

{% block email_body %}

  {% call email.paragraph() %}
    Dear <b>{{ recipient }}</b>,
  {% endcall %}

  {% call email.paragraph() %}
    This dataset has been withdrawn from curation by {{ curation.contacts.depositor.title }}
    {% if message %}
      with the following message "{{ message }}"
    {% endif %}
  {% endcall %}

  {% call email.paragraph() %}
    <b>{{ dataset.title }}</b>
  {% endcall %}

  {% call email.paragraph() %}
    <i>{{ dataset.notes }}</i>
  {% endcall %}

{% endblock %}
