{% ckan_extends %}

{% set deposit = h.get_data_deposit() %}

{% block page_header %}
  {% if organization and organization.id != deposit.id %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block secondary %}
<aside class="secondary col-sm-3">
  {% block secondary_content %}
    {% if organization and organization.id == deposit.id %}
      {% snippet "organization/snippets/curation_sidebar.html", deposit=deposit, facet_titles=c.facet_titles, editing=True %}
    {% elif organization and organization.state == 'approval_needed' %}
      {% snippet "organization/snippets/pending_sidebar.html", group_dict=organization %}
    {% else %}
      {{ super() }}
    {% endif %}
  {% endblock %}

  {% block user_guide %}
    {% snippet "snippets/user_guide.html", is_deposit=organization and organization.id == deposit.id %}
  {% endblock %}
</aside>
{% endblock %}

{% block footer %}
  {{ super() }}
  {% if organization and organization.id == deposit.id %}
    {% snippet "organization/snippets/curation_modals.html", deposit=deposit %}
  {% endif %}
{% endblock %}
