{% ckan_extends %}

{% set deposit = h.get_data_deposit() %}

{% block page_header %}
  {% if c.group_dict.id != deposit.id %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block secondary_content %}
  {% if c.group_dict.id == deposit.id %}
    {% snippet "organization/snippets/curation_sidebar.html", deposit=deposit, facet_titles=c.facet_titles, editing=True %}
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block footer %}
  {{ super() }}
  {% if c.group_dict.id == deposit.id %}
    {% snippet "organization/snippets/curation_modals.html", deposit=deposit %}
  {% endif %}
{% endblock %}
