{% ckan_extends %}

{% block page_primary_action %}
  {% if h.check_access('sysadmin') %}
    {% link_for 'Add Data Container', class_='btn btn-primary', icon='plus-square', named_route=group_type + '.new' %}
  {% elif h.check_access('organization_create') %}
    {% link_for 'Request Data Container', class_='btn btn-primary', icon='plus-square', named_route=group_type + '_new' %}
  {% endif %}
{% endblock %}

{% block organizations_search_form %}{% endblock %}

{% block organizations_list %}
   {% if c.page.items or request.params %}
     {% if c.page.items %}
		{{ h.render_tree()|safe }}
     {% endif %}
   {% else %}
     <p class="empty">
       {{ _('There are currently no organizations for this site') }}.
       {% if h.check_access('organization_create') %}
         {% link_for _('How about creating one?'), named_route='data-container.new' %}</a>.
       {% endif %}
     </p>
   {% endif %}
{% endblock %}

{% block page_pagination %}{% endblock %}

{% block scripts %}
  {{ super() }}
  {% asset 'hierarchy/hierarchy_js' %}
  {% asset 'hierarchy/hierarchy_css' %}  
{% endblock %}
