{% extends "page.html" %}
{% import 'macros/form.html' as form %}

{% block subtitle %}{{ _('Manage Membership') }}{% endblock %}

{% block page_header %}{% endblock %}

{% block primary_content_inner %}
  <div class="membership">

    {# User selection #}
    <h2>{{ _('Manage Membership') }}</h2>
    <form class="dataset-form add-member-form" method="get">
      <div class="row">
        <div class="col-md-6">
          <div class="control-group control-medium control-select">
            <div class="controls">
              <select name="username" id="membership-username" required="required">
                <option value=""></option>
                {% for user in membership.users %}
                  <option value="{{ user.name }}" {% if membership.user and membership.user.name == user.name %}selected{% endif %}>{{ user.display_name }}</option>
                {% endfor %}
              </select>
              <small class="info-block ">
                <i class="fa fa-info-circle"></i>
                After selection the page will be updated automatically
              </small>
            </div>
          </div>
        </div>
      </div>
    </form>

    {# Add membership #}
    {% if membership.user %}
      <hr>
      <h2>{{ _('Add Containers') }}</h2>
      <form class="dataset-form add-member-form add-container-form" action="/data-container/membership_add" method="post">
        {# Username #}
        <input name="username" type="hidden" value={{ membership.user.name }}>
        <div class="row">
          {# Containers #}
          <div class="col-md-6">
            <div class="control-group control-medium control-select">
              <label class="control-label" for="membership-contnames">Containers</label>
              <div class="controls">
                <select name="contnames" id="membership-contnames" required="required" multiple="multiple">
                  <option value=""></option>
                  {% for container in membership.containers %}
                    <option value="{{ container.name }}">{{ container.title }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
          {# Role #}
          <div class="col-md-6">
            <div class="control-group control-medium">
              <label class="control-label" for="membership-role">Role</label>
              <div class="controls">
                <select name="role" id="membership-role" required="required">
                  <option value=""></option>
                  {% for role in membership.roles %}
                    <option value="{{ role.name }}">{{ role.title }}</option>
                  {% endfor %}
                </select>
                <small class="info-block ">
                  <i class="fa fa-info-circle"></i>
                  You can select multiple data containers, but the same role will be applied to all of them
                </small>
              </div>
            </div>
          </div>
        </div>
        {# Actions #}
        <button id="membership-button" class="btn btn-primary" disabled="disabled">
          Add Membership
        </button>
      </form>
    {% endif %}

    {# Current membership #}
    {% if membership.user %}
      <hr>
      <h2>{{ _('Current Containers') }}</h2>

      <table class="table table-header table-hover table-bordered">
        <thead>
          <tr>
              <th>{{ _('Role') }}</th>
              <th>{{ _('Count') }}</th>
          </tr>
        </thead>
        <tbody>
          {% for role in membership.roles %}
            <tr>
              <td>{{ role.title }}</td>
              <td>{{ role.total }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <table class="table table-header table-hover table-bordered">
        <thead>
          <tr>
              <th>{{ _('Container') }}</th>
              <th>{{ _('Role') }}</th>
              <th></th>
          </tr>
        </thead>
        <tbody>
          {% for container in membership.user_containers %}
            <tr>
              <td class="media">
                <a href="/data-container/{{ container.name }}">{{ container.title }}</a>
              </td>
              <td>{{ container.capacity|capitalize }}</td>
              <td>
                <div class="btn-group pull-right">
                  <a class="btn btn-sm" href="/data-container/member_new/{{ container.name }}?user={{ membership.user.name }}" title="{{ _('Edit') }}">
                    <i class="fa fa-wrench"></i>
                  </a>
                  <a class="btn btn-danger btn-sm" href="{% url_for controller='ckanext.unhcr.controllers.data_container:DataContainerController', action='membership_remove', username=membership.user.name, contname=container.name %}" data-module="confirm-action" data-module-content="{{ _('Are you sure you want to remove the user from this container?') }}" title="{{ _('Remove') }}">
                    <i class="fa fa-times"></i>
                  </a>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}

  </div>
{% endblock %}

{% block secondary_content %}
  {% snippet "organization/snippets/helper.html", membership=membership %}
{% endblock %}
