{% ckan_extends %}

{% block page_primary_action %}
  {% if c.group_dict.state == 'approval_needed' %}
    <div class="alert alert-warning" role="alert">
        <p>{% trans %}This data container is waiting for an administrator approval{% endtrans %}</p>
    </div>
    {% if h.check_access('sysadmin') %}
      <a href="/data-container/{{ c.group_dict.id }}/approve" class="btn btn-primary">
        {% trans %}Approve Data Container{% endtrans %}
      </a>
      <a href="/data-container/{{ c.group_dict.id }}/reject" class="btn btn-danger">
        {% trans %}Reject Data Container{% endtrans %}
      </a>
     {% endif %}
  {% else %}
    {% if h.check_access('package_create', {'owner_org': c.group_dict.id}) %}
      {% snippet 'snippets/add_dataset_buttons.html', group=c.group_dict.id%}
    {% else %}
      {% link_for _('Deposit Dataset'), named_route='/deposited-dataset/new', class_='btn btn-primary', icon='plus-square', group=c.group_dict.id %}
    {% endif %}
  {% endif %}
{% endblock %}

{% block primary_content_inner %}
  {% if c.group_dict.state == 'active' %}
    {{ super() }}
  {% endif %}
{% endblock %}
