<div class="curation curation-modals">

  {# Deposit #}
  <div id="curation-deposit" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    <form action="/deposited-dataset/new" method="get">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Deposit Dataset</h3>
      </div>
      <div class="modal-body">
        <p>
            The Data Deposit application allows Depositors to submit a dataset with minimal metadata and upload the data and supporting documents to the Raw Internal Data Library. While in the Data Deposit, datasets will only be visible to the Depositor, the Curation Team and to RIDL administrators.
        </p>
        <p>
        After depositing a dataset, additional changes can still be made until it is submitted for further documentation and curation. A designated Curator will be assigned to the dataset as focal point. After the initial submission the Depositor will not be able to make further changes, but the Curator will be able to unlock it to do so.
        </p>
        <p>
        If the dataset is fully documented, the Curator can submit it for the Depositor’s approval or publish it on RIDL directly . Please select the suggested destination Data Container and the Access Level for the dataset below.
        </p>
        <div class="control-group control-select">
          <label for="field-private" class="control-label">Destination Data Container</label>
          <div class="controls">
            <select name="owner_org_dest">
              {% set orgs = h.get_all_data_containers(exclude_ids=[deposit.id]) %}
              {% for org in orgs %}
                <option value="{{ org.id }}">{{ org.title }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="control-group control-select">
          <label for="field-private" class="control-label">Raw Data Access Level</label>
          <div class="controls">
            <select id="field-private" name="private">
              <option value="True">Private</option>
              <option value="False">Internally Visible</option>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-primary">Confirm</button>
      </div>
    </form>
  </div>

</div>
