<div class="curation curation-sidebar">

  {# Heading #}
  <section class="module module-narrow curation-title">
    <div class="module context-info">
      <div class="module-content">
        <h1 class="heading">{{ group_dict.display_name }}</h1>
        <p><span class="label label-sidebar">PENDING DATA CONTAINER</span></p>
      </div>
    </div>
  </section>

  {# Actions #}
  <section class="module module-narrow module-shallow curation-actions">
    <h2 class="module-heading"><i class="fa fa-bars"></i>Actions</h2>

    <p class="module-content">
      {% if h.check_access('sysadmin') %}
        As an Administrator you can approve or reject the data container.
      {% else %}
        No actions available.
      {% endif %}
    </p>

    <div class="module-content curation-buttons">

      {% if h.check_access('sysadmin') %}
        <a href="/data-container/{{ group_dict.id }}/approve" class="btn btn-warning">
          {% trans %}Approve Data Container{% endtrans %}
        </a>
      {% endif %}

      {% if h.check_access('sysadmin') %}
        <a href="/data-container/{{ group_dict.id }}/reject" class="btn btn-danger">
          {% trans %}Reject Data Container{% endtrans %}
        </a>
      {% endif %}

    </div>
  </section>

  {# Destination #}
  <section class="module module-narrow module-shallow curation-tree">
    <h2 class="module-heading"><i class="fa fa-globe"></i>Destination</h2>
    <p class="module-content">
      {% snippet 'organization/snippets/organization_tree.html', top_nodes=[h.group_tree_section(id_=group_dict.id, type_=group_dict.type, include_siblings=False)], use_shortnames=True %}
    </p>
  </section>

</div>
