<div id="chart-{{ metric.id }}" class="line-graph"></div>
<script>
document.addEventListener("DOMContentLoaded", function(event) {
  c3.generate({
      bindto: '#chart-{{ metric.id }}',
      axis: {
        y: {
          tick: { format: d3.format("d") },
          min: 0,
          padding: { bottom: 0 },
        },
        x: {
          type: 'timeseries',
          tick: { format: '%Y-%m-%d' },
        },
      },
      data: {
        x: 'x',
        xFormat: '%Y-%m-%d %H:%M:%S.%f',
        columns: {{ metric.data | tojson }},
      },
  });
});
</script>
