<div class="curation curation-sidebar curation-data-deposit">

  {# Heading #}
  <section class="module module-narrow curation-title">
    <div class="module context-info">
      <div class="module-content">
        <h1 class="heading">{{ h.dataset_display_name(pkg) }}</h1>
        <p><span class="label label-sidebar">CURATION / {{ curation.state }}</span></p>
      </div>
    </div>
  </section>

  {# Actions #}
  <section class="module module-narrow module-shallow curation-actions">
    <h2 class="module-heading"><i class="fa fa-bars"></i>Actions</h2>

    <p class="module-content">
      As a{% if curation.role == 'admin' %}n{% endif %}
      <strong>{{ curation.role }}</strong> you have
      {% if curation.actions %}
        the following available actions
      {% else %}
        no available actions.
      {% endif %}
    </p>

    <div class="module-content curation-buttons">
      {% set link_help = 'Click to open the form' %}

      {% if 'approve' in curation.actions %}
        <a href="#curation-approve" role="button" class="btn btn-warning" data-toggle="modal" title="{{ link_help }}" data-target="#curation-approve">
          {% trans %}Approve Dataset{% endtrans %}
        </a>
      {% endif %}

      {% if 'request_review' in curation.actions %}
        <a href="#curation-request-review" role="button" class="btn btn-warning" data-toggle="modal" title="{{ link_help }}" data-target="#curation-request-review">
          {% trans %}Request Final Review{% endtrans %}
        </a>
      {% endif %}

      {% if 'edit' in curation.actions %}
        <a href="/deposited-dataset/edit/{{ pkg.id }}" class="btn btn-warning {% if editing %}disabled{% endif %}" {% if not editing %}title="{{ link_help }}"{% endif %}>
          {% trans %}Edit Dataset{% endtrans %}
        </a>
        <a href="/deposited-dataset/resources/{{ pkg.id }}" class="btn btn-warning {% if editing %}disabled{% endif %}" {% if not editing %}title="{{ link_help }}"{% endif %}>
          {% trans %}Edit Resources{% endtrans %}
        </a>
      {% endif %}

      {% if 'submit' in curation.actions %}
        <a href="#curation-submit" role="button" class="btn btn-warning" data-toggle="modal" title="{{ link_help }}" data-target="#curation-submit">
          {% trans %}Submit Dataset{% endtrans %}
        </a>
      {% endif %}

      {% if 'assign' in curation.actions %}
        <a href="#curation-assign" role="button" class="btn btn-warning" data-toggle="modal" title="{{ link_help }}" data-target="#curation-assign">
          {% trans %}Update Curator{% endtrans %}
        </a>
      {% endif %}

      {% if 'request_changes' in curation.actions %}
        <a href="#curation-request-changes" role="button" class="btn btn-warning" data-toggle="modal" title="{{ link_help }}" data-target="#curation-request-changes">
          {% trans %}Request Changes{% endtrans %}
        </a>
      {% endif %}

      {% if 'withdraw' in curation.actions %}
        <a href="#curation-withdraw" role="button" class="btn btn-danger" data-toggle="modal" title="{{ link_help }}" data-target="#curation-withdraw">
          {% trans %}Withdraw Dataset{% endtrans %}
        </a>
      {% endif %}

      {% if 'reject' in curation.actions %}
        <a href="#curation-reject" role="button" class="btn btn-danger" data-toggle="modal" title="{{ link_help }}" data-target="#curation-reject">
          {% trans %}Reject Dataset{% endtrans %}
        </a>
      {% endif %}

    </div>

  </section>

  {# Contacts #}
  <section class="module module-narrow module-shallow curation-contacts">
    <h2 class="module-heading"><i class="fa fa-envelope"></i>Contacts</h2>
    {% set curator = curation.contacts.curator %}
    {% if curator %}
      <dl>
        <dt>Curator {% if curation.is_curator %}<strong>(you)</strong>{% endif %}</dt>
        <dd>
          {{ h.link_to(curator.display_name, h.url_for('user.read', id=curator.name)) }}
          <a href="mailto:{{ curator.email }}">(email)</a>
        </dd>
      </dl>
    {% endif %}
    {% set depositor = curation.contacts.depositor %}
    {% if depositor %}
      <dl>
        <dt>Depositor {% if curation.is_depositor %}<strong>(you)</strong>{% endif %}</dt>
        <dd>
          {{ h.link_to(depositor.display_name, h.url_for('user.read', id=depositor.name)) }}
          <a href="mailto:{{ depositor.email }}">(email)</a>
          {% if depositor.external and curation.role != 'depositor' %}
          <span
            class="label label-warning"
            title="This dataset was submitted by a user outside of UNHCR"
          >
            Partner
          </span>
        {% endif %}
        </dd>
      </dl>
    {% endif %}
  </section>

  {# Validation #}
  <section class="module module-narrow module-shallow curation-validation">
    {% if curation.error %}
      <h2 class="module-heading"><i class="fa fa-times"></i>Validation</h2>
      <p class="module-content">
        The following fields need to be updated before the dataset can be published
      </p>
      {% set validation = h.get_dataset_validation_report(pkg, curation.error.error_dict) %}
      <ul {% if editing and not res %}data-fields="{{ h.dump_json(validation.dataset.fields) }}"{% endif %}>
        {% for field in validation.dataset.fields %}
          <li><small>{{ h.get_field_label(field) }}</small></li>
        {% endfor %}
        {% for resource in validation.resources %}
          <li><small>{{ h.resource_display_name(resource) }}</small></li>
          <ul {% if editing and res and res.id == resource.id %}data-fields="{{ h.dump_json(resource.fields) }}"{% endif %}>
            {% for resource_field in resource.fields %}
              <li><small>{{ h.get_field_label(resource_field, is_resource=True) }}</small></li>
            {% endfor %}
          </ul>
        {% endfor %}
      </ul>
    {% else %}
      <h2 class="module-heading"><i class="fa fa-check"></i>Validation</h2>
      <p class="module-content">
        The dataset is valid and can be published.
      </p>
    {% endif %}
  </section>

  {# Modals #}
  <div class="modals">

    {% if 'request_changes' in curation.actions %}
    {% endif %}

  </div>

  {# License #}
  {% snippet "package/snippets/external_access.html", pkg_dict=pkg %}

</div>
