<div class="curation curation-sidebar publish">

  {# Heading #}
  <section class="module module-narrow curation-title">
    <div class="module context-info">
      <div class="module-content">
        <h1 class="heading">{{ h.dataset_display_name(pkg) }}</h1>
        <p><span class="label">{{ _('Followers') }}: {{ h.SI_number_span(h.follow_count('dataset', pkg.id)) }}</span></p>
      </div>
    </div>
  </section>

  {# Actions #}
  <section class="module module-narrow">
    <h2 class="module-heading"><i class="fa fa-bars"></i>Actions</h2>
    <p class="module-content">
      As an <strong>admin</strong> you can push the dataset to the Microdata library
    </p>
    <div class="module-content curation-buttons">
      {% set link_help = 'Click to open the form' %}
      <a href="#publish-microdata" role="button" class="btn btn-warning" data-toggle="modal" title="{{ link_help }}" data-target="#publish-microdata">
        {% trans %}Push to Microdata{% endtrans %}
      </a>
    </div>
  </section>

</div>
