{% ckan_extends %}

{% block header_logo %}
  <a class="logo" href="{{ h.url_for('home.index') }}">
    <img src="/base/images/ckan-logo.png" alt="{{ g.site_title }}" title="{{ g.site_title }}" />
  </a>
{% endblock %}

{% block header_site_navigation_tabs %}
  {% if c.userobj %}
    {% if c.userobj.sysadmin %}
      {{
        h.build_nav_main(
          ('data-container_index', _('Organizations')),
          ('data-deposit', _('Data Deposit')),
          ('search', _('Datasets')),
          ('unhcr_metrics.metrics', _('Metrics')),
        )
      }}
    {% else %}
      {{
        h.build_nav_main(
          ('data-container_index', _('Organizations')),
          ('data-deposit', _('Data Deposit')),
          ('search', _('Datasets')),
        )
      }}
    {% endif %}
  {% endif %}
  {% if g.debug %}
    <small>Debug: {{ c.user }}</small>
  {% endif %}
{% endblock %}
