{% ckan_extends %}

{% block title %}
  {% if h.page_authorized() %}
    {{ super() }}
  {% else %}
    Please login to access this page - RIDL
  {% endif %}
{% endblock %}


{% block page %}
<div class="page">
  {% if not h.page_authorized() %}
    {% snippet "login_form.html" %}
  {% else %}
    {% block skip %}{{ super() }}{% endblock %}

    {%- block header %}{{ super() }}{% endblock -%}

    {%- block content %}
      {% block maintag %}{{ super() }}{% endblock %}
        <div id="content" class="container">
          {% block main_content %}

            {% block toolbar %}
              {{ super() }}
            {% endblock %}

            <div class="row wrapper{% block wrapper_class %}{% endblock %}{% if self.secondary()|trim == '' or c.action=='resource_read' %} no-nav{% endif %}">
              {% block pre_primary %}{{ super() }}{% endblock %}
              {% block secondary %}{{ super() }}{% endblock %}

              {% block primary %}
                <div class="primary col-sm-9 col-xs-12">
                  {% block flash %}
                    <div class="flash-messages">
                      {% block flash_inner %}
                        {% for message in h.flash.pop_messages() | list %}
                          <div class="alert fade in {{ message.category }}">
                            {{ h.literal(message) }}
                          </div>
                        {% endfor %}
                      {% endblock %}
                    </div>
                  {% endblock %}

                  {% block primary_content %}{{ super() }}{% endblock %}
                </div>
              {% endblock %}
            </div>
          {% endblock %}
        </div>
      </div>
    {% endblock -%}

    {%- block footer %}{{ super() }}{% endblock -%}
  {% endif %}
</div>
{% endblock %}
