/* General */

.curation-sidebar {
  & .btn {
    margin: 0.25em 0;
    width: 85%;
  }
  & hr {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 95%;
  }
  & dl {
    margin-left: 1em;
  }
  & ul {
    list-style-position: inside;
  }
}

.curation-actions {
  & .curation-buttons {
    padding-top: 0;
  }
  & .curation-message {
    padding-top: 0.5em;
    width: 90%;
    & textarea {
      width: 100%;
    }
  }
}

.curation-information {
  & .curation-metadata {
    padding-top: 0;
  }
}

.curation-modals {
  & form {
    margin: 0;
  }
  & textarea {
    width: 97%;
  }
  & select {
    width: 100%;
  }
}

/* Search */

.dataset-item-curation {
  & table {
    width: 100%;
    background-color: #f8f8f8;
    margin-top: 0.5em;
    border-radius: 5px;
  }
  & dl {
    margin: 0.5em 1em;
  }
  & td {
    border: solid 1px #ccc;
  }
  & dd {
    font-weight: normal;
  }
  & a {
    color: #666;
  }
  & a.email {
    color: #aaa;
  }
}

.dataset-list-curation {
  padding-left: 0;
}
/* Editing */

.control-group.curation-invalid {
  border-radius: 3px;
  background-color: #FF4C0F;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 1em;
  & label {
    color: #fff;
  }
  & input,
  & select,
  & textarea {
    border-width: 0;
  }
  & .info-block {
    color: #fff;
  }
  & .info-block:nth-of-type(2) {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}

/* Stream */

.activity {
  & .curation-message {
    font-weight: bold;
    /* font-size: 1.2em; */
    color: #000;
  }
}
