.flash-messages {
  & .alert {
    border-radius: 0;
    border: none;
    text-shadow: none;
    box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.3);

    & .close {
      text-shadow: none;
    }

    &.alert-success {
      background-color: #28a745;
      color: #fff;

      & .close {
        color: #fff;
      }
    }

    &.alert-info {
      background-color: #17a2b8;
      color: #fff;

      & .close {
        color: #fff;
      }
    }

    &.alert-danger,
    &.alert-error {
      background-color: #dc3545;
      color: #fff;

      & .close {
        color: #fff;
      }
    }
  }
}
