.membership {
  & hr {
    margin: 0;
  }
  & .control-group {
    margin-bottom: 0;
  }
  & .select2-container {
    width: 100%;
  }
  & .add-member-form .info-block {
    margin-top: 0;
  }
  & select {
    width: 100%;
  }
  & button {
    margin-top: 1em;
  }
}
