.module-resource {
  & .actions {
    top: 10px;
    right: auto;
    float: none;
    margin-bottom: 20px;

    @media (--portrait-tablet-up) {
      float: right;
    }

    & ul {
      padding: 0;
      margin: 0;
    }
  }

  & + .secondary {
    display: none;

    & + .primary {
      width: auto;
      padding: 0;

      & .module-content {
        @media (--portrait-tablet-up) {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }

}

.resource-read {

  & .main {
    & .wrapper::before {
      display: none;
    }

    & .toolbar {
      & .breadcrumb {
        @media (--portrait-tablet-up) {
          display: block;
        }
      }
    }
  }
}

.validation-badge {
  margin-left: 20px;
  & img {
    vertical-align: baseline;
  }
}
